<!DOCTYPE html>
<html>
    <!-- This is the ejs file for the login page -->
    <!-- This is also where you go to authorize your account to retrieve twitter information!! -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="login.css"/>
</head>
<body>
    <div>
        <h1>Twitter Notes</h1>
        <h2>Your Personal Friends & Followers Diary</h2>
        <!-- // This image link to used to login and authorize yourself to be in the app -->
        <a href="/auth/Twitter">
        <img src="sign-in-with-twitter-gray.png">
        </a>
    </div>
</body>
</html>